.journal{
	height:256px;
	width:256px;
}

.article{
    display:flex;
    flex-direction:row;
	align-items:center;
}

div > p{
	padding-left: 10px;
	padding-right:10px;
	text-align:justify;
}

@media (max-width: 480px) {
	.journal{
		height:192px;
		width:192px;
	}
	
	.article{
		flex-direction:column;
		display:block;
		margin-left:20%;
	}
	
	.texte{
		display:none;
	}
	
	main{
		align-items:center;
	}
}